h1, p {
  text-align: center;
}
li {
  list-style:none; /* Muda os marcadores de linhas em uma lista(o comando "none" remove)*/
}
li:active {
  color: rgb(61, 9, 250);
  
}
li:hover {
  background-color: rgb(214, 214, 247);
  border: 40px;
}