.super-mario {
  width: 150px;
  position: absolute;

}

.goomba {
  width: 100px;
  top: 300px;
  left: 70px;
  position: absolute;
  z-index: 1;
  
}

.baloon {
  position: absolute;
  z-index: 2;
  width: 200px;
  left: 210px;


}

.speach {
  font-size: 18px;
  position: absolute;
  z-index: 3;
  left: 220px;
  top: 100px;
}

.bowser {
  width: 200px;
  position: absolute;
  top: 200px;
  left: 400px;
  z-index: 4;
  


}